.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: white;
  background-image: url('/Users/jackviana/Desktop/GA/project-4/GG/GG-FE2/gg-app/src/Assets/mesh.png');
  background-repeat: repeat-y;
}

video {
  width: 100%;
  height: 106.4%;
  object-fit: cover;
  position: absolute;
  z-index: -10;
}

.nav-bg {
  background: rgba(16, 18, 27, 0.4);
  backdrop-filter: blur(5px);
}

#user-dropdown {
  overflow-y: visible;
  z-index: 9999;
}

.home-div {
  z-index: -10;
}

.home-bg {
  background: rgba(16, 18, 27, 0.91);
  backdrop-filter: blur(5px);
  position: relative;
  z-index: 1;
}

.game-header-card-bg {
  background: linear-gradient(180deg, #448DD9 0%, #0E274E 100%);
  box-shadow: 5px 8px 16px 3px rgba(0, 0, 0, 0.85);
}


.gow {
  filter: drop-shadow(9px 4px 2px rgba(0, 0, 0, 0.49));
}

.kratos {
  filter: drop-shadow(9px 4px 5px rgba(0, 0, 0, 0.49));
}

.game-card {
  transition: all .5s ease-in-out;
  box-shadow: 3px 8px 12px 3px rgba(0, 0, 0, 0.85);
}

.game-title {
  text-shadow: 1px 1px 6px black;
}

.video-div {
  display: none;
  transition: all 2s ease-in-out;
}

.game-card:hover + .video-div{
  display: block;
  transition: all .5s ease-in-out;
}

.video-div:hover {
  display: block;
  transition: all .5s ease-in-out;
}

.video-div iframe {
  z-index: 10;
}

.logo {
  font-family: 'Press Start 2P', cursive;
}

.detail-bg {
  background-color: rgba(24, 24, 24);
}

.game-rating {
  border-width: 1px;
}

button {
  background-color: #404040;
}

.review-bg {
  background-color: #404040;
}

.list-card {
  transition: all .5s ease-in-out;
  box-shadow: 3px 8px 12px 3px rgba(0, 0, 0, 0.85);

}